<div class="container">
  <div id="About" class="section">
    <div class="greeting">
      <img class="logo" src="./assets/profile.jpg">
      <h1>Hi, I am <span>Raouf Hecham</span>.</h1>
      <p>a Fullstack Developer and a Data Scientist.</p>
    </div>

    <div class="sm-card about-me block">
      <sm-card>
        <span card-title>[ About Me ]</span>
        <div card-content>
          <p>
            I am a <em>Fullstack Developer</em> with a
            Ph.D. in Artificial Intelligence.
          </p>
          <p>
            I use algorithms and data to
            understand the world around me,
            and display it in a beautiful manner.

            I enjoy using my obsessive attention to detail to
            optimize and facilitate decision making for me
            and my clients.
          </p>
          <p>
            My philosophy in life is simple:
            <q>Find the pattern; Optimize it.</q>
            Check the <a class="nav" [routerLink]="['/']" fragment="Help">
              <em>[</em><span>Help</span>]
            </a> section for information on how to use this website.
            <!-- Head over to my -->
            <!-- <a href="/posts" class="nav special"> -->
            <!-- <em>[</em><span>Help</span>] -->
            <!-- </a> -->
            <!-- section to see how I optimize my life as a -->
            <!-- developer. -->
          </p>
        </div>
      </sm-card>
    </div>

  </div>


  <div id="Experience" class="section">
    <div class="section-header">
      <h2>Experience</h2>
    </div>
    <div class="block">
      <div class="experience-block">
      <sm-block>
        <img block-avatar src="./assets/lirmm.png">
        <div block-title>
          <a href="www.lirmm.fr" class="nav " >
            <em>[</em><span>University of Montpellier - LIRMM</span>]
          </a>
          <div class="position">Research and Development Engineer</div>
        </div>
        <div block-content>
          Build a platform called
          <a href="https://hamhec.github.io/damn" class="nav "><em>[</em><span>DAMN</span>]</a>
          for collective decision making. It allows real-time collaboration
    between multiple stakeholders to achieve a decision based on potentially conflicting
    knowledge using various logic-based semantics.

          <h4>Mission</h4>
          <ul style="margin-bottom: 10px">
            <li>
              Implement a modular architecture (parsing, reasoning,
          collaboration, display, etc.) across entire stack (20k+ lines of code)
            </li>
            <li>
              Implement Spring REST API along with collaboration support using
          websockets and publish the different modules to maven repository.
            </li>
            <li>
              Implement Angular Material front-end with best practices around
          accessible, semantic UI/UX.
            </li>
            <li>
              Oversee the deployment, documentation, and deliverable reports for
          the use-cases within the european H2020 NoAW and GLOPACK projects.
            </li>
            <li>
              Tools: Angular (Typescript, HTML, SASS), Spring (Java), Mongodb,
          Websockets, Docker.
            </li>
          </ul>

          <h4>Documents</h4>
          <ul>
            <li>
              Platform link: <a href="https://hamhec.github.io/damn" class="nav "><em>[</em><span>DAMN</span>]</a>
            </li>
            <li>
              Project final report: <a href="https://noaw2020.eu/deliverable/" class="nav "><em>[</em><span>Deliverable D2.4</span>]</a>
            </li>
            <li>
              Source code: <a href="https://github.com/hamhec/damn"
                             class="nav "><em>[</em><span>DAMN - Frontend</span>]</a>,
              <a href="https://github.com/hamhec/elder-server" class="nav
                "><em>[</em><span>DAMN - Backend</span>]</a>,
              <a href="https://github.com/hamhec/graal-defeasible-core" class="nav
                "><em>[</em><span>Parser module</span>]</a>,
              <a href="https://github.com/hamhec/graal-elder" class="nav
                "><em>[</em><span>Reasonner module</span>]</a>
          </ul>
        </div>
        <div block-footer>
          <span>Aug 2018 - Jul 2019 (1 year) | Montpellier, France</span>
        </div>
      </sm-block>
      </div>


      <div class="experience-block">
      <sm-block>
        <img block-avatar src="./assets/lirmm.png">
        <div block-title>
          <a href="https://iut-montpellier-sete.edu.umontpellier.fr" class="nav " >
            <em>[</em><span>University Institutes of Technology of Monpellier (IUT)</span>]
          </a>
          <div class="position">Teaching Assistant</div>
        </div>
        <div block-content>
          Tutoring and lecturing duties for undergraduate students.

          <h4>Teaching duties (+300h)</h4>
          <ul>
            <li>
              Intoduction to Databases (92h).
            </li>
            <li>
              Human-Computer Interaction (173h).
            </li>
            <li>
              Web Development (24h).
            </li>
            <li>
              Tutoring: 5 Bachelor's student groups.
            </li>
          </ul>
        </div>
        <div block-footer>
          <span>Oct 2015 - Jul 2019 (4 years) | Montpellier, France</span>
        </div>
      </sm-block>
      </div>


      <div class="experience-block">
      <sm-block>
        <!-- <img block-avatar src="./assets/lirmm.png"> -->
        <div block-title>
            <span>Open Management System</span>
          <div class="position">Junior Full Stack Developer</div>
        </div>
        <div block-content>
          <ul>
            <li>
              Implemented a user polling website using Laravel/PHP.
            </li>
            <li>
              Implemented a scheduling tool with replicated database using
              Java/MySQL for a language school.
            </li>
          </ul>
        </div>
        <div block-footer>
          <span>Sep 2014 - Oct 2015 (1 year) | Constantine, Algeria</span>
        </div>
      </sm-block>
      </div>

    </div>
  </div>



  <div id="Skills" class="section">
    <div class="section-header">
      <h2>Skills</h2>
    </div>
    <div class="block">
      <div class="skill-block">
      <sm-block>
        <div block-title>
          <span>Front-End</span>
        </div>
        <div block-content>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/angular.png">
            </div>
            <div>Angular</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/material.png">
            </div>
            <div>Angular Material</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/jquery.png">
            </div>
            <div>JQuery</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/bootstrap.png">
            </div>
            <div>Bootstrap</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/materialize.png">
            </div>
            <div>Materialize</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/typescript.png">
            </div>
            <div>Typescript</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/javascript.png">
            </div>
            <div>Javascript</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/html5.png">
            </div>
            <div>HTML 5</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/sass.png">
            </div>
            <div>SASS</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/css3.png">
            </div>
            <div>CSS3</div>
          </div>
        </div>
      </sm-block>
      </div>

      <div class="skill-block">
      <sm-block>
        <div block-title>
          <span>Back-End</span>
        </div>
        <div block-content>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/spring.png">
            </div>
            <div>Spring</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/nodejs.png">
            </div>
            <div>Node.js</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/laravel.png">
            </div>
            <div>Laravel</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/mongodb.png">
            </div>
            <div>Mongodb</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/postgresql.png">
            </div>
            <div>PostgreSQL</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/mysql.png">
            </div>
            <div>MySQL</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/java.png">
            </div>
            <div>Java</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/python.png">
            </div>
            <div>Python</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/php.png">
            </div>
            <div>PHP</div>
          </div>
        </div>
      </sm-block>
      </div>


      <div class="skill-block">
      <sm-block>
        <div block-title>
          <span>Tools</span>
        </div>
        <div block-content>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/git.png">
            </div>
            <div>Git</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/docker.png">
            </div>
            <div>Docker</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/maven.png">
            </div>
            <div>Maven</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/gradle.png">
            </div>
            <div>Gradle</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/grunt.png">
            </div>
            <div>Grunt</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/npm.png">
            </div>
            <div>npm</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/bower.png">
            </div>
            <div>Bower</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/composer.png">
            </div>
            <div>Composer</div>
          </div>
        </div>
      </sm-block>
      </div>


      <div class="skill-block">
      <sm-block>
        <div block-title>
          <span>Other</span>
        </div>
        <div block-content>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/illustrator.png">
            </div>
            <div>Illustrator</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/office.png">
            </div>
            <div>Office Suite</div>
          </div>
          <div class="skill">
            <div class="skill-logo">
              <img src="./assets/latex.png">
            </div>
            <div>Latex</div>
          </div>
          <div>
            <h4 style="margin:0px">Languages</h4>
            <ul>
              <li>English (C2): Full professional proficiency</li>
              <li>French (C2): Bilingual <a href="./assets/documents/DALF_C1.pdf" download="dalf_c1.pdf" class="nav"><em>[</em><span>DALF</span>]</a></li>
              <li>Arab: Native</li>
            </ul>
          </div>
        </div>
      </sm-block>
      </div>


    </div>
  </div>



  <div id="Projects" class="section">
    <div class="section-header">
      <h2>Projects</h2>
    </div>
    <div class="block">
      <div class="project">
      <sm-block>
        <div block-title>
          <span>DAMN</span>
        </div>
        <div block-content>
          A defeasible reasoning plateform for collective decision making.
          <ul>
            <li>Link: <a href="https://hamhec.github.io/damn" class="nav"><em>[</em><span>DAMN</span>]</a></li>
            <li>Source code: <a href="https://github.com/hamhec/damn" class="nav"><em>[</em><span>github</span>]</a></li>
          </ul>
        </div>
      </sm-block>
      </div>

      <div class="project">
        <sm-block>
          <div block-title>
              <span>Defeasible KB with DLGP parser</span>
          </div>
          <div block-content>
            A defeasible DLGP parser for defeasible reasoning.
            <ul>
              <li>Source code: <a href="https://github.com/hamhec/graal-defeasible-core" class="nav"><em>[</em><span>github</span>]</a></li>
              <li>Maven repository: <a
        href="https://search.maven.org/artifact/fr.lirmm.graphik/graal-defeasible-core"
                                      class="nav"><em>[</em><span>Maven Central</span>]</a></li>
            </ul>
          </div>
        </sm-block>
      </div>

      <div class="project">
        <sm-block>
          <div block-title>
            <span>GRAAL reasonner</span>
          </div>
          <div block-content>
            A Semantic Web reasonning tool for existential rules.
            <ul>
              <li>Link: <a href="https://graphik-team.github.io/graal" class="nav"><em>[</em><span>GRAAL</span>]</a></li>
              <li>Source code: <a href="https://github.com/graphik-team/graal" class="nav"><em>[</em><span>github</span>]</a></li>
              <li>Maven repository: <a
                                      href="https://search.maven.org/artifact/fr.lirmm.graphik/graal-elder"
                                      class="nav"><em>[</em><span>Maven Central</span>]</a></li>
            </ul>
          </div>
        </sm-block>
      </div>

      <div class="project">
        <sm-block>
          <div block-title>
            <span>Statement Graph Defeasible Reasonnner</span>
          </div>
          <div block-content>
            A defeasible reasonner based on Statement Graphs.
            <ul>
              <li>Source code: <a href="https://github.com/hamhec/graal-elder" class="nav"><em>[</em><span>github</span>]</a></li>
              <li>Maven repository: <a
                                      href="https://search.maven.org/artifact/fr.lirmm.graphik/graal-elder"
                                      class="nav"><em>[</em><span>Maven Central</span>]</a></li>
            </ul>
          </div>
        </sm-block>
      </div>

      <div class="project">
        <sm-block>
          <div block-title>
              <span>Angular Spacemacs</span>
          </div>
          <div block-content>
            A set of spacemacs-like components and themes for Angular.
            <ul>
              <li>Source code: <a href="https://gihub.com/hamhec/portfolio" class="nav"><em>[</em><span>github</span>]</a></li>
            </ul>
          </div>
        </sm-block>
      </div>
    </div>
  </div>

  <div id="Awards" class="section">
    <div class="section-header">
      <h2>Awards and Certifications</h2>
    </div>
    <div class="block">
      <div class="award">
      <sm-block>
        <img block-avatar src="./assets/algeria.png">
        <div block-title>
          <a href="#" class="nav">
            <em>[</em><span>Ph.D. Excellency Scholarship</span>]
          </a>
        </div>
        <div block-content>
          Ph.D. Scholarship of 3 years for graduate students with outstanding
    curriculum in the Excellency Program of the Algerian Ministry of Higher Education and Scientific Research.
        </div>
        <div block-footer>
          <span>Jun 2015 | Algiers, Algeria</span>
        </div>
      </sm-block>
      </div>

      <div class="award">
        <sm-block>
          <img block-avatar src="./assets/dalf.png">
          <div block-title>
            <a href="./assets/documents/DALF_C1.pdf" download="dalf_c1.pdf" class="nav">
              <em>[</em><span>Advanced French Language Diploma - C1</span>]
            </a>
          </div>
          <div block-content>
            The DALF C1 is a diploma awarded by the French Ministry of Education
        to prove the high proficiency in French-language skills of non-French candidates.</div>
          <div block-footer>
            <span>Jan 2012 | Constantine, Algeria</span>
          </div>
        </sm-block>
      </div>

      <div class="award">
        <sm-block>
          <img block-avatar src="./assets/sirius.png">
          <div block-title>
            <a href="http://siriusalgeria.net/ct-pict.htm" class="nav">
              <em>[</em><span>Cirta-Science-III Astronomy Award</span>]
            </a>
          </div>
          <div block-content>
            First place in the Cirta-Science Astronomy contest 2010 organized by
            the
            <a href="http://siriusalgeria.net/ct-pict.htm" class="nav"><em>[</em><span>Sirius Astronomy Association</span>]</a>. The prize of the
            2010 contest was a trip to <a href="https://www.salt.ac.za" class="nav"><em>[</em><span>SALT (South African Astronomical
              Observatory)</span>]</a>.
          </div>

          <div block-footer>
            <span>Jun 2010 | Constantine, Algeria</span>
          </div>
        </sm-block>
      </div>
    </div>
  </div>


  <div id="Education" class="section">
    <div class="section-header">
      <h2>Education</h2>
    </div>
    <div class="block">
      <div class="education">
      <sm-block>
        <img block-avatar src="./assets/lirmm.png">
        <div block-title>
          <a href="www.umontpellier.fr" class="nav " >
            <em>[</em><span>University of Montpellier</span>]
          </a>
          <div class="position">Ph.D. in Artificial Intelligence</div>
        </div>
        <div block-content>
          My Ph.D. relates to reasoning with inconsistent or incoherent
          knowledge within various domains such as Databases, Data Quality, Semantic Web,
          Argumentation, Non-monotonique Reasoning, and Human Reasoning.

          <h4>Acomplishments</h4>
          <ul style="margin-bottom: 10px">
            <li>
              Defined a unifying formalism able to represent and combine most defeasible
          reasoning and repair semantics intuitions.
            </li>
            <li>
              Implemented various modules for parsing and reasoning with
          conflicting data based on the proposed formalism.
            </li>
            <li>
              Applied the formalism on different use-cases from Data Quality to
          Collective Decision making.
            </li>
            <li>
              Keywords: Inconsistent/Incoherent Data, Data Quality,
              Non-monotnoic Reasoning, Human Reasoning, Defeasible Reasoning,
          Repair Semantics, Semantic Web.
            </li>
          </ul>

          <h4>Documents</h4>
          <ul>
            <li>
              Thesis:
              <a href="./assets/documents/phd.pdf" download="phd.pdf"
          class="nav "><em>[</em><span>Defeasible Reasoning Using Existential
          Rules</span>]</a>.
            </li>
          </ul>
        </div>
        <div block-footer>
          <span>Sep 2015 - Jul 2018 (3 years) | Montpellier, France</span>
        </div>
      </sm-block>
      </div>



      <div class="education">
      <sm-block>
        <img block-avatar src="./assets/constantine.png">
        <div block-title>
          <a href="http://www.univ-constantine2.dz" class="nav " >
            <em>[</em><span>University of Abdelhamid Mehri</span>]
          </a>
          <div class="position">Master's Degree in Computer Science</div>
        </div>
        <div block-content>
          Option: Information Systems and Web Technologies.<br>

          <ul>
            <li>
              Thesis: <q>Classification and visualization of individuals in fuzzy ontologies</q>. <br>
            </li>
            <li>
              Implemented a tool for the classification of individuals in fuzzy
              ontologies by calculating the membership degree and displaying the results in a colored directed graph.
            </li>
          </ul>
        </div>
        <div block-footer>
          <span>Sep 2013 - Jun 2015 (2 years) | Constantine, Algeria</span>
        </div>
      </sm-block>
      </div>


      <div class="education">
        <sm-block>
          <img block-avatar src="./assets/constantine.png">
          <div block-title>
            <a href="http://www.univ-constantine2.dz" class="nav " >
              <em>[</em><span>University of Abdelhamid Mehri</span>]
            </a>
            <div class="position">Bachelor's Degree in Computer Science</div>
          </div>
          <div block-content>
            Option: Information Systems and Web Technologies.<br>

            <ul>
              <li>
                Thesis: <q>How to overcome unstable internet access with distributed
                information system and a replicated database</q>. <br>
              </li>
              <li>
                Designed an Information System (web app and desktop app) for a language training school with a partially replicated database in order to overcome unstable internet access.
              </li>
            </ul>
          </div>
          <div block-footer>
            <span>Sep 2010 - Jun 2013 (3 years) | Constantine, Algeria</span>
          </div>
        </sm-block>
      </div>
    </div>
  </div>


  <div id="Research" class="section">
    <div class="section-header">
      <h2>Research</h2>
    </div>
    <div class="block">
        <sm-block>
          <img block-avatar src="./assets/lirmm.png">
          <div block-title>
            <a href="www.lirmm.fr" class="nav " >
              <em>[</em><span>University of Montpellier - LIRMM</span>]
            </a>
          </div>
          <div block-content>
            My research focuses on reasoning with inconsistent or incoherent
    data. It is mainly applied to collective decision making using a
    logical language and a reasoning formalism.

            <h4>International Publications</h4>
            <ul>
              <li>
                Hecham A., Bisquert P., Croitoru M. "On a flexible
                representation for defeasible reasoning variants". AAMAS 2018,
                pages 1123-1131. 2018.
              </li>
              <li>
                Hecham A., Croitoru M., Bisquert P. "A first order logic
            benchmark for defeasible reasoning tool profiling". RuleML+RR 2018,
            Luxembourg, pages 81-97. 2018.
              </li>
              <li>
                Hecham A., Croitoru M., Bisquert P. "Demonstrating a benchmark
            for defeasible reasoning". COMMA 2018,
                Warsaw, Poland, pages 461-462. 2018.
              </li>
              <li>
                Hecham A., Bisquert P., Croitoru M. "Argumentation-Based
            Defeasible Reasoning For Existential Rules". AAMAS 2017,
                pages 1568-1569. 2017.
              </li>
              <li>
                Hecham A., Bisquert P., Croitoru M. "On the chase for all
            provenance paths with existential rules". RuleML+RR 2017,
                pages 135-150. 2017.
              </li>
              <li>
                Hecham A., Arioua A., Stapleton G., Croitoru M. "An empirical evaluation of
            argumentation in explaining inconsistency tolerant query answering".
            DL 2017.
              </li>
              <li>
                Bisquert P., Croitoru M., Dupin de Saint-Cyr F., Hecham A.
            "Durum Wheat Selection Interdisciplinary Study". Journal Minds and
            Machilnes, 27:233-252, 2017,
              </li>
              <li>
                Bisquert P., Croitoru M., Dupin de Saint-Cyr F., Hecham A.
                "Substantive irrationality in cognitive systems". ECAI, pages 1642-1643, 2016.
              </li>
              <li>
                Hecham A., Croitoru M., Bisquert P., Buche P. "Extending GWAPs
            for building profile aware associative networks". ICCS 2016,
                 pages 43-58. 2016.
              </li>
            </ul>
          </div>
        </sm-block>
    </div>
  </div>

  <div id="Contact" class="section">
    <div class="section-header">
      <h2>Contact</h2>
    </div>
    <div class="block">
      <sm-card>
        <span card-title>[ Contact Me ]</span>
        <div card-content>
          <ul>
            <li><a href="mailto:abdelraouf.hecham@gmail.com" class="nav"><em>[</em><span><i class="socicon-mail"></i>Mail</span>]</a></li>
            <li><a href="https://github.com/hamhec" class="nav"><em>[</em><span><i class="socicon-github"></i>Github</span>]</a></li>
            <li><a href="https://www.linkedin.com/in/abdelraouf-hecham" class="nav"><em>[</em><span><i class="socicon-linkedin"></i>LinkedIn</span>]</a></li>
            <li><a href="https://stackoverflow.com/users/5202808/a-hecham" class="nav"><em>[</em><span><i class="socicon-stackoverflow"></i>Stackoverflow</span>]</a></li>
          </ul>
        </div>
      </sm-card>
    </div>
  </div>
</div>



<!-- PhD in AI. My expertise are mainly centered around Artificial Intelligence-->
<!-- and Data Management. Throughout my 6 years of experience (PhD, Postdoctoral-->
<!-- Researcher, Data Scientist) I have been exposed to different technologies-->
<!-- and acquired different skills in AI. In my PhD I worked on Data Quality in-->
<!-- Ontologies and Knowledge Bases, then I have done most of my research on-->
<!-- Data Quality in Relational and Graph Databases. These research skills were-->
<!-- coupled with a good background in Java/Python programming and prototype-->
<!-- production for AI. I am now interested in Data Science and Big Data-->
<!-- problems and the applications of state-of-the-art AI researches in-->
<!-- industry. -->
