<div class="main-container" [ngClass]="representation.theme">
  <div class="wrapper">
    <div class="sidenav" id="sidenav"
      [ngClass]="{hideSidenav: representation.hideSidenav,
      focusSidenav: representation.focusSidenav}">
      <sm-side-nav #window1 ></sm-side-nav>
      <sm-powerline [number]="representation.windows[0]" [active]="representation.focusedWindow" title="Side-nav"
        scroll="All"></sm-powerline>
    </div>

    <div class="main-content" id="main-content" tabindex="-1">
      <div class="router" #window2>
        <router-outlet></router-outlet>
      </div>
      <sm-powerline [number]="representation.windows[1]" [active]="representation.focusedWindow" title="Home-page - About -"
      scroll="All"></sm-powerline>
    </div>
  </div>

  <sm-command-list></sm-command-list>
  <sm-outputline></sm-outputline>
</div>
