<div id="download">
  <a href="./assets/documents/cv-en.pdf" download="cv-hecham-en.pdf" class="nav"><em>[</em><span>Download CV English</span><em>]</em></a>
  <a href="./assets/documents/cv-fr.pdf" download="cv-hecham-en.pdf" class="nav"><em>[</em><span>Download CV French</span><em>]</em></a>
</div>

<div id="container">
  <div id="sidebar">
    <h1><span>[</span>Raouf<br>Hecham<span>]</span></h1>
    <h2>Full Stack Developer</h2>
    <div id="info">
      <div class="info">
        <i class="material-icons">phone</i>
        <span>(+33) 6 50 84 29 62</span>
      </div>
      <div class="info">
        <i class="material-icons">public</i>
        <span>www.raouf-hecham.com</span>
      </div>
      <div class="info">
        <i class="material-icons">email</i>
        <span>raouf.hecham@gmail.com</span>
      </div>
      <div class="info">
        <i class="material-icons">location_on</i>
        <span>Montpellier, France</span>
      </div>

      <div class="content">
        <div>
          <h3>Profile</h3>
          <div class="block-content">
            26 years old Full Stack Developer with a Ph.D. in Artificial
            Intelligence.
            Highly skilled in Java (Spring), Typescript (Angular), and Python (Flask).
          </div>
        </div>

        <div>
          <h3>Key Skills</h3>
          <div class="block-content skills">
            <div>Java</div>
            <div>Spring</div>
            <div>Typescript</div>
            <div>Angular</div>
            <div>SASS</div>
            <div>HTML</div>
            <div>Python</div>
            <div>Flask</div>
            <div>SQL</div>
            <div>MongoDB</div>
            <div>PHP</div>
            <div>Laravel</div>
            <div>Git</div>
          </div>
        </div>


        <div>
          <h3>Languages</h3>
          <div class="block-content">
            <ul>
              <li>English (C2): Fluent</li>
              <li>French (C2): Bilingual</li>
              <li>Arab: Native</li>
            </ul>
          </div>
        </div>


        <div>
          <h3>Life Philosophy</h3>
          <div class="block-content">
            My philosophy in life is simple: <q>Find the pattern; Optimize it.</q>.
            I enjoy using my attention to detail to optimize and
          facilitate solutions to challenging problems.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div>
      <h3>Experience</h3>
      <div class="block-content">
        <h4>Research and Development Engineer</h4>
        <div class="location-and-time">
          <h5>University of Montpellier - LIRMM</h5>
          <div class="time">
            <i class="material-icons">date_range</i>
            <span>Aug 18 - Jul 19</span>
          </div>
          <div class="location">
            <i class="material-icons">location_on</i>
            <span>Montpellier | France</span>
          </div>
        </div>
        <span>Built a platform for collective decision making. It allows real-time collaboration
          between multiple stakeholders with conflicting preferences.</span>
        <ul>
          <li>
            Implemented a modular architecture across entire stack (20k+ lines
          of code) while overseeing the deployment, documentation, and
          deliverable reports.
          </li>
          <li>
            Implement Spring REST API along with collaboration support using
            websockets and publish the different modules to maven repository.
          </li>
          <li>
            Implement Angular Material front-end with graph visualization and interaction features.
          </li>
          <li>
            Tools: Angular (Typescript, HTML, SASS), Spring (Java), MongoDB,
            Websockets, Docker.
          </li>
        </ul>
      </div>


      <div class="block-content">
        <h4>Teaching Assistant</h4>
        <div class="location-and-time">
          <h5>IUT Montpellier</h5>
          <div class="time">
            <i class="material-icons">date_range</i>
            <span>Oct 15 - Jul 19</span>
          </div>
          <div class="location">
            <i class="material-icons">location_on</i>
            <span>Montpellier | France</span>
          </div>
        </div>
        Tutoring and lecturing duties (+300h) for undergraduate students.
        <ul>
          <li>
            Intoduction to Databases (92h).
          </li>
          <li>
            Human-Computer Interaction (173h).
          </li>
          <li>
            Web Development (24h).
          </li>
          <li>
            Tutoring: 5 Bachelor's student groups.
          </li>
        </ul>
      </div>


      <div class="block-content">
        <h4>Junior Full Stack Developer</h4>
        <div class="location-and-time">
          <h5>Open Management System</h5>
          <div class="time">
            <i class="material-icons">date_range</i>
            <span>Sep 14 - Aug 15</span>
          </div>
          <div class="location">
            <i class="material-icons">location_on</i>
            <span>Constantine | Algeria</span>
          </div>
        </div>
        <ul>
          <li>
            Implemented a user polling website using Laravel/PHP.
          </li>
          <li>
            Implemented a scheduling tool with replicated database using
        Java/MySQL for a language training school.
          </li>
        </ul>
      </div>
    </div>


    <div>
      <h3>Education</h3>
      <div class="block-content">
        <h4>Ph.D. in Artificial Intelligence</h4>
        <div class="location-and-time">
          <h5>University of Montpellier</h5>
          <div class="time">
            <i class="material-icons">date_range</i>
            <span>Sep 15 - Jul 18</span>
          </div>
          <div class="location">
            <i class="material-icons">location_on</i>
            <span>Montpellier | France</span>
          </div>
        </div>
        <span>Reasoning with conflicting
        knowledge within various domains such as Databases, Data Quality, Semantic Web,
          Argumentation, and Human Reasoning.</span>
      </div>

      <div class="block-content">
        <div class="title">
          <h4>Master's Degree in Computer Science</h4>
          <div>Rank: 1/76</div>
        </div>
        <div class="location-and-time">
          <h5>University of Abdelhamid Mehri</h5>
          <div class="time">
            <i class="material-icons">date_range</i>
            <span>Sep 13 - Jul 15</span>
          </div>
          <div class="location">
            <i class="material-icons">location_on</i>
            <span>Constantine | Algeria</span>
          </div>
        </div>
        <span>
          Implemented a tool for the classification of individuals in fuzzy
          ontologies by calculating the membership degree and displaying the results in a colored directed graph.
        </span>
      </div>
    </div>



    <div>
      <h3>Notable Certifications and Awards</h3>
      <div class="block-content">
        <ul>
          <li>
            <em>Ph.D. Excellency Scholarship:</em> for graduate students with outstanding
            curriculum.
          </li>

          <li>
            <em>Cirta-Science-III Astronomy Award:</em> first place in the Cirta Astronomy contest.
          </li>

          <li>
            <em>DALF C1:</em> Advanced French Language Diploma - C1.
          </li>

          <li>
            <em>Valedictorian:</em> Bachelor's and Master's degree.
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
